
.about__cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}  

.about__card{
    background: transparent;
    border: 2px solid rgb(255, 212, 175);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.about__card:hover{
    background: transparent;
    border-color:rgb(114, 243, 219);
    cursor: default;
}

.about__icon{
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom:1rem;
}

.about__card h5{
font-size: 0.95rem;
}

.about__card small{
    font-size: 0.7rem;
    color: var(--color-light);
    }